[Unit]
Description=PS3 Rich Presence for Discord
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/$user/PS3-Rich-Presence-for-Discord/PS3RPD.py

[Install]
WantedBy=multi-user.target
